<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <context:component-scan base-package="cn.blankspace.taotao.controller" />
    <mvc:annotation-driven />
    <mvc:resources location="/WEB-INF/js/" mapping="/js/**"/>
    <mvc:resources location="/WEB-INF/css/" mapping="/css/**"/>
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- 定义文件上传解析器 -->
    <bean id = "multipartResolver" class="cn.blankspace.taotao.pojo.MyCommsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="maxUploadSize" value="5242880"></property>
    </bean>

    <!-- 引用dubbo服务 -->
    <dubbo:application name="taotao-manager-web"/>
    <dubbo:registry protocol="zookeeper" address="118.126.110.120:2181"/>
    <!--<dubbo:reference interface="com.taotao.service.TestService" id="testService" />-->
    <dubbo:reference interface="cn.blankspace.taotao.service.TestService" id="testService"></dubbo:reference>

    <dubbo:reference interface="cn.blankspace.taotao.service.ItemService" id="itemService" timeout="3000"></dubbo:reference>

    <dubbo:reference interface="cn.blankspace.taotao.service.ItemCatService" id="itemCatService" timeout="3000"></dubbo:reference>

    <dubbo:reference interface="cn.blankspace.taotao.service.PictureService" id="pictureService" timeout="3000"></dubbo:reference>

    <dubbo:reference interface="cn.blankspace.taotao.content.service.ContentCategoryService" id="contentCategoryService" timeout="3000"></dubbo:reference>

    <dubbo:reference interface="cn.blankspace.taotao.content.service.ContentService" id="contentService" timeout="3000"></dubbo:reference>

    <dubbo:reference interface="cn.blankspace.search.service.SearchService" id="searchService" timeout="300000"></dubbo:reference>
</beans>